# Large files
**/*.pdf
**/*.zip
**/*.png
**/*.jpg
**/*.npy
**/*.pickle
**/*.ttf
**/*.pkl
**/*.gcode

# Cache files
**/.ipynb_checkpoints
**/__pycache__

# Mac
**/.DS_Store

# VS Code
.vscode

# Config files
**/*.ini
